.main-container{
    height: 80vh;
    width: 100%;
}

td, th {
    text-align: center !important;
    vertical-align: middle !important;
    padding: 0;
    border-radius: 10px;

}

th{
    font-weight: bold;
    height: 2em;
}

.mat-sort-header-container {
    justify-content: center !important;
}

.beat-info-section{
    display: flex;
    flex-direction: column;
    justify-content: left;

}

.beat-info-section h3{
    margin: 0;
}

.header-section{
    display: flex;
    justify-content: space-between;
}