.main-container{
    min-height: 85vh;
    max-height: fit-content;
    width: 100%;
}

td, th {
    text-align: center !important;
    vertical-align: middle !important;
    padding: 4px;
    font-size: smaller;

}

th{
    font-weight: bold;
    height: 1em;
}

.mat-sort-header-container {
    justify-content: center !important;
}

.beat-info-section{
    display: flex;
    flex-direction: column;
    justify-content: left;

}

.beat-info-section h4{
    margin: 0;
}

.header-section{
    display: flex;
    justify-content: space-between;
}