<div class="login-window">
    <div class="login-item input-icons">
        <form [formGroup]="loginObj" class="form" novalidate>
            <mat-form-field class="section">
                <mat-label>Email/Phone</mat-label>
                <input type="email" matInput formControlName="username" placeholder="name@domain.com">
                <mat-icon matSuffix (click)="editEmail()" class="edit-icon">mode_edit</mat-icon>
                @if ( loginFormControl['username'].errors?.['required'] && loginFormControl['username'].touched) {
                    <mat-error>Email or Phone number is required</mat-error>
                }
                @if(loginFormControl['username'].errors?.['pattern'] && loginFormControl['username'].touched){
                    <mat-error>Please provide a valid email address or phone number</mat-error> 
                }
            </mat-form-field>

            <mat-form-field *ngIf="freezeEmail">
                <mat-label>OTP</mat-label>
                <input type="text" matInput autofocus formControlName="otp" placeholder="00000">
                <mat-icon matSuffix (click)="editEmail()" class="edit-icon">mode_edit</mat-icon>
                @if ( loginFormControl['otp'].errors?.['required'] && loginFormControl['otp'].touched) {
                    <mat-error>OTP is required</mat-error>
                }
                @else if( (loginFormControl['otp'].hasError('sixDigit') ) && loginFormControl['otp'].touched){
                    <mat-error>OTP should 6 digit</mat-error> 
                }
            </mat-form-field>

            <div class="center">
                <button *ngIf="!freezeEmail" [disabled]="!loginFormControl['username'].valid || disableLogin" (click)="authUser()" mat-flat-button>Send OTP</button>
            </div>

            <div class="submit-buttons">
                <button *ngIf="freezeEmail" [disabled]="!loginObj.valid"  mat-flat-button (click)="logIn()">Login</button>
                <button *ngIf="freezeEmail" [disabled]="!resendOTP" (click)="authUser()"  mat-flat-button > Resend <br> in {{ time }} seconds</button>   
            </div>
        </form>  
</div>
