<div class="main-container">
        <form [formGroup]="editSalesForm">
        <mat-form-field >
            <mat-label>Enter new received amount</mat-label>
            <input type="number" matInput placeholder="New Received amount" formControlName="new_received_amount">
            <mat-error *ngIf="editSalesForm.controls['new_received_amount'].hasError('required')">Required</mat-error>
        </mat-form-field>
        </form>

        <div class="action-buttons">
            <div>
                <button mat-raised-button (click)="matbottomSheetRef.dismiss()">Close</button>
            </div>
            <div>
                <button [disabled]="editSalesForm.invalid" mat-flat-button (click)="editReceivedamount()">Submit</button>
                <mat-error style="font-size: x-small;" *ngIf="editSalesForm.hasError('incorrectReceivedAmount')">New received amount should be less than pending amount</mat-error>
                <mat-error style="font-size: x-small;" *ngIf="editSalesForm.hasError('lessThanZero')">Amount should be greater than zero</mat-error>
            </div>
        </div>
</div>