.main-container{
    width: 100%;
    min-height: 85vh;
    max-height: fit-content;
}

.team-management{
    margin: 1em;
}

.action-buttons{
    text-align: center;
}

.subheader{
    display: flex;
    width: 100%;
    justify-content: space-evenly;
}