.main-container{
    width: 100%;
    min-height: 78vh;
    max-height: fit-content;
}

.filter-section{
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 1em
}

.header-section{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}

.tasks-table-section{
    margin: 1em;
    width: 100%;
}