<h2 mat-dialog-title>Add item</h2>
<div mat-dialog-content>
    <form class="form-section" [formGroup]="newItem">
        <mat-form-field>
            <mat-label>Enter Item name</mat-label>
            <input type="text" matInput formControlName="item_name">
        </mat-form-field>

        <mat-form-field>
            <mat-label>Enter Item price</mat-label>
            <input type="number" matInput formControlName="price">
        </mat-form-field>

        <mat-form-field>
            <mat-label>Select category</mat-label>
            <mat-select formControlName="category_id" required>
                @for (category of availableCategories; track category) {
                  <mat-option [value]="category.category_id">{{category.category_name}}</mat-option>
                }
                <mat-option (click)="addNewCategory()">
                    <span class="material-symbols-outlined">add_circle</span> Add new
                </mat-option>
            </mat-select>
        </mat-form-field>
    </form>
</div>
<mat-dialog-actions>
    <button mat-button [mat-dialog-close] cdkFocusInitial>Close</button>
    <button mat-raised-button [disabled]="newItem.invalid" (click)="addItem()">Submit</button>
</mat-dialog-actions>