<h3 mat-dialog-title style="text-align: center;">Add sale</h3>
<div mat-dialog-content class="main-container">
    <form class="new-task-form" [formGroup]="addSalesForm">

        <mat-form-field>
            <mat-label>Select customer</mat-label>
            <mat-select formControlName="customer_id" >
              <mat-form-field>
                <input matInput (input)="onKey($event)" placeholder="Type to search...">
              </mat-form-field>
              <mat-option *ngFor="let customer of visibleCustomerList; let i=index" [value]="customer.customer_id">{{customer.customer_name}}</mat-option>
            </mat-select>
        </mat-form-field>

        <div *ngIf="itemsAdded.length > 0">
          <table mat-table [dataSource]="itemsAdded">
            <ng-container matColumnDef="sl_no">
                <th mat-header-cell *matHeaderCellDef>Sl No.</th>
                <td mat-cell *matCellDef="let element; let i=index">{{i + 1}}</td>
            </ng-container>
            
              <ng-container matColumnDef="item_name">
                <th mat-header-cell *matHeaderCellDef>Name</th>
                <td mat-cell *matCellDef="let element">{{element.item_name}}</td>
              </ng-container>
              
              <ng-container matColumnDef="item_price">
                <th mat-header-cell *matHeaderCellDef>Price</th>
                <td mat-cell *matCellDef="let element">{{element.price}}</td>
              </ng-container>
    
              <ng-container matColumnDef="quantity">
                <th mat-header-cell *matHeaderCellDef>Quantity</th>
                <td mat-cell *matCellDef="let element">
                    <div class="quantity-section">
                        <b>{{element.quantity}}</b>
                    </div>
                </td>
              </ng-container>
    
    
              <tr mat-header-row *matHeaderRowDef="itemListColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: itemListColumns;"></tr>
        </table>
        </div>

        <div style="text-align: center;">
          <button (click)="addItems()"  mat-raised-button>Add items</button>
        </div>
        
        <div>
          <h3>Total amount: {{addSalesForm.value.amount}}</h3>
        </div>
        
        <div class="discount-field">
          <mat-form-field >
              <mat-label>Enter Amount after discount</mat-label>
              <input type="number" matInput placeholder="Amount after discount" formControlName="selling_price">
              <mat-error *ngIf="addSalesForm.controls['selling_price'].hasError('required')">Required</mat-error>
          </mat-form-field>
          <div class="discount-section" *ngIf="addSalesForm.controls['selling_price'].value">
            <p>Discount</p>
            <p>{{getDiscountAmount()}} {{getDiscountAmountPercentage()}}</p>
          </div>
        </div>

        <mat-form-field >
            <mat-label>Enter Invoice number </mat-label>
            <input type="text" matInput placeholder="Invoice number" formControlName="invoice_number">
            <mat-error *ngIf="addSalesForm.controls['invoice_number'].hasError('required')">Required</mat-error>
        </mat-form-field>

        <mat-form-field >
          <mat-label>Enter received amount</mat-label>
          <input type="number" matInput placeholder="Received amount" formControlName="received_amount">
          <mat-error *ngIf="addSalesForm.controls['received_amount'].hasError('required')">Required</mat-error>
      </mat-form-field>

        <mat-form-field >
            <mat-label>Enter a note</mat-label>
            <input matInput placeholder="Note" formControlName="note">
        </mat-form-field>

        <div>
            <form class="upload-form">  
              <label
                for="file"
                (dragover)="handleDragOver($event)"
                (drop)="handleDrop($event)"
              >
                <i class="ph ph-upload"></i>
                <span>
                  Click here to upload item image
                </span>
              </label>
            
              <input
                id="file"
                type="file"
                name="file"
                (change)="onFileSelected($event)"
                accept="image/*"
                capture
              />
            
              <div class="result" [style.display]="outputBoxVisible ? 'flex' : 'none'">
                <i class="ph ph-file"></i>
                <div class="file-details">
                  <span class="file-name">{{ fileName }}</span>
                  <ng-container *ngIf="uploadStatus === 200 || uploadStatus === undefined">
                    <span class="file-size">{{ fileSize }}</span>
                  </ng-container>
                </div>
            
                <div class="upload-result" [style.display]="uploadStatus ? 'flex' : 'none'">
                  <span>{{ uploadResult }}</span>
                  <ng-container *ngIf="uploadStatus === 200; else error">
                    <i class="ph ph-check-circle"></i>
                  </ng-container>
                  <ng-template #error>
                    <i class="ph ph-x-circle"></i>
                  </ng-template>
                </div>
              </div>
            </form>
        </div>     
    </form>
    <br>
</div>
<mat-dialog-actions style="text-align: center;">
  <button mat-raised-button [mat-dialog-close]>Close</button>
  <div>
    <button [disabled]='!(addSalesForm.valid && itemsAdded.length > 0 )' (click)="addSales()" mat-flat-button #addSaleButton >Add Sale</button>
    <mat-error style="font-size: x-small;" *ngIf="addSalesForm.hasError('incorrectDiscount')">Discount should be less than amount</mat-error>
    <mat-error style="font-size: x-small;" *ngIf="addSalesForm.hasError('incorrectReceivedAmount')">Received amount should be less than selling amount</mat-error>
    <mat-error style="font-size: x-small;" *ngIf="addSalesForm.hasError('incorrectSellingAmount')">Selling amount should be less than amount</mat-error>
  </div>
</mat-dialog-actions>
