.new-task-form{
    display: flex;
    flex-direction: column;
    padding: 1em;
}

.main-container{
    height: 75vh;
}

.quantity-section{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1em;
}