<div class="main-container">
  <table mat-table [dataSource]="customerDataSource" class="mat-elevation-z8">
    <ng-container matColumnDef="outlet_name">
      <th mat-header-cell *matHeaderCellDef> Outlet name </th>
      <td mat-cell *matCellDef="let element"> {{element.outlet_name}} </td>
    </ng-container>
  
    <ng-container matColumnDef="contact_persons_details">
      <th mat-header-cell *matHeaderCellDef> Contact </th>
      <td mat-cell *matCellDef="let element" [innerHTML]="parseCustomerContact(element.contact_persons_details)"> </td>
    </ng-container>

    <ng-container matColumnDef="address">
      <th mat-header-cell *matHeaderCellDef> Address </th>
      <td mat-cell *matCellDef="let element" > {{element.address}} </td>
    </ng-container>

    <ng-container matColumnDef="gst_no">
      <th mat-header-cell *matHeaderCellDef> GST number </th>
      <td mat-cell *matCellDef="let element"> {{element.gst_no}} </td>
    </ng-container>
  
    <ng-container matColumnDef="note">
      <th mat-header-cell *matHeaderCellDef> Note </th>
      <td mat-cell *matCellDef="let element"> {{element.note}} </td>
    </ng-container>
    
    <ng-container matColumnDef="edit">
      <th mat-header-cell *matHeaderCellDef> Edit </th>
      <td mat-cell *matCellDef="let element"> <span (click)="editCustomer(element)" class="material-symbols-outlined">edit</span></td>
    </ng-container>

    <ng-container matColumnDef="delete">
      <th mat-header-cell *matHeaderCellDef> Delete </th>
      <td mat-cell *matCellDef="let element"><span (click)="deleteCustomer(element)" class="material-symbols-outlined">delete</span> </td>
    </ng-container>
  
    <tr mat-header-row *matHeaderRowDef="customerTableColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: customerTableColumns;"></tr>
  </table>
  <div style="margin-top: 1em;">
    <button (click)="addCustomer()" mat-raised-button>Add customer</button>
  </div>
</div>
  