<h2 mat-dialog-title>Edit beat</h2>
<div mat-dialog-content>
    <form class="form-field" [formGroup]="editBeatForm">
        <mat-form-field >
            <mat-label>Select team</mat-label>
            <mat-select formControlName="team_id">
              @for (team of teams; track team) {
                <mat-option [value]="team.team_id">{{team.team_name}}</mat-option>
              }
            </mat-select>
        </mat-form-field>
        <mat-form-field >
            <mat-label>Select Customer</mat-label>
            <mat-select formControlName="customer_list" multiple (openedChange)="onOpenedChange($event)">
              <input matInput (input)="onKey($event)" placeholder="Type to search...">
              @for (customer of visibleCustomerList; track customer) {
                <mat-option [value]="customer.customer_id">{{customer.outlet_name}}</mat-option>
              }
            </mat-select>
        </mat-form-field>
        <mat-form-field>
            <mat-label>Enter Beat title</mat-label>
            <input matInput formControlName="title">
        </mat-form-field>
        <mat-form-field>
            <mat-label>Enter description</mat-label>
            <input matInput formControlName="description">
        </mat-form-field>
        <mat-form-field>
            <mat-label>Enter a note</mat-label>
            <input matInput formControlName="note">
        </mat-form-field>
    </form>
</div>
<mat-dialog-actions>
    <button mat-button [mat-dialog-close]="" cdkFocusInitial>Close</button>
    <button mat-raised-button (click)="editBeatCall()">Submit</button>
</mat-dialog-actions>
