<h2 mat-dialog-title>Leave</h2>
<div mat-dialog-content>
    <h3>From date: {{data.leave.from_date}}</h3>
    <h3>To date: {{data.leave.to_date}}</h3>
    <h3>Status: {{data.leave.status}}</h3>
    <h3 *ngIf="data.leave.approved_by">From date: {{data.leave.approved_by}}</h3> 
    <h3>Reason: {{data.leave.reason}}</h3>
    <h3>Type: {{data.leave.type}}</h3>
</div>
<mat-dialog-actions>
    <button [mat-dialog-close] mat-raised-button>Close</button>
    <button mat-raised-button (click)="cancelLeave()">Cancel leave</button>
</mat-dialog-actions>