<div class="main-container">
    <h2 style="text-align: center; margin: 0;">Receipt</h2>
    <div class="filter-section">
      <mat-form-field class="form-field">
        <mat-label>Select time frame</mat-label>

        <mat-select
          [(value)]="selectedTimeFrame"
          (selectionChange)="fetchSalesAnalytics()"
        >
        <mat-checkbox (change)="fetchSalesAnalytics()" [(ngModel)]="selectByModifiedDate">Fetch by modified date</mat-checkbox>
          <mat-option *ngFor="let time of timeFrames" [value]="time.actualValue">
            {{ time.displayValue }}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field *ngIf="selectedTimeFrame == 'custom'" id="calendarInputField" class="hidden">
        <mat-label>Enter a date range</mat-label>
        <mat-date-range-input [rangePicker]="picker">
          <input
            matStartDate
            (dateChange)="fetchSalesAnalytics()"
            [(ngModel)]="selectedFromDate"
            placeholder="Start date"
            [ngModelOptions]="{standalone: true}"
          />
          <input
            matEndDate
            (dateChange)="fetchSalesAnalytics()"
            [(ngModel)]="selectedToDate"
            placeholder="End date"
            [ngModelOptions]="{standalone: true}"
          />
        </mat-date-range-input>
        <mat-hint>MM/DD/YYYY – MM/DD/YYYY</mat-hint>
        <mat-datepicker-toggle
          matIconSuffix
          [for]="picker"
        ></mat-datepicker-toggle>
        <mat-date-range-picker #picker></mat-date-range-picker>
      </mat-form-field>

      <mat-form-field>
        <mat-label>Select customer type</mat-label>
        <mat-select [(value)]="selectedCustomerType" (selectionChange)="fetchSalesAnalytics()"  (selectionChange)="fetchCustomer()">
          <mat-option>None</mat-option>
          @for (type of clientType; track type) {
              <mat-option [value]="type.typeId">{{type.typeName}}</mat-option>
          }
        </mat-select>
      </mat-form-field>

      <mat-form-field>
        <mat-label>Select Locality</mat-label>
        <mat-select [(value)]="selectedLocality" (selectionChange)="selectedCustomer = ''" (selectionChange)="fetchSalesAnalytics()"  (selectionChange)="fetchCustomer()">
          <mat-option>None</mat-option>
          @for (locality of localities; track locality) {
              <mat-option [value]="locality.locality_id">{{locality.locality_name}}</mat-option>
          }
        </mat-select>
      </mat-form-field>

      <mat-form-field>
        <mat-label>Select customer</mat-label>
        <mat-select [(value)]="selectedCustomer" (selectionChange)="fetchSalesAnalytics()">
          <mat-form-field>
            <input matInput (input)="onKey($event)" placeholder="Type to search...">
          </mat-form-field>
          <mat-option>None</mat-option>
          @for (customer of visibleCustomerList; track customer) {
            <mat-option [value]="customer.customer_id">{{customer.customer_name}}</mat-option>
          }
        </mat-select>
      </mat-form-field>

      <div class="clear-filter">
        <button (click)="clearFilters()" mat-raised-button>Clear filters</button>
      </div>

    </div>
    <div class="sub-header-section">
      <h3>Total amount:&nbsp;₹&nbsp;{{totalAmount + discount}}</h3>
      <h3>Total amount received:&nbsp;₹&nbsp;{{totalAmountReceived}}</h3>
      <h3>Total Discount:&nbsp;₹&nbsp;{{discount}}</h3>
      <div *ngIf="isOrgManager">
        <button mat-raised-button (click)="openAddSaleWindow()">Add receipt</button>
      </div>
    </div>
    <table mat-table [dataSource]="saleInvoiceDatasource" matSort  (matSortChange)="announceSortChange($event)">
      <ng-container matColumnDef="sl_no">
        <th mat-header-cell *matHeaderCellDef>Sl No.</th>
        <td mat-cell *matCellDef="let element; let i=index">{{i + 1}}</td>
      </ng-container>
    
      <ng-container matColumnDef="customer">
        <th mat-header-cell *matHeaderCellDef>Customer</th>
        <td mat-cell *matCellDef="let element">{{element.customer}}</td>
      </ng-container>

      <ng-container matColumnDef="invoice_number">
        <th mat-header-cell *matHeaderCellDef>Invoice number</th>
        <td mat-cell *matCellDef="let element">{{element.invoice_number}}</td>
      </ng-container>

      <ng-container matColumnDef="from_date">
        <th mat-header-cell *matHeaderCellDef>From date</th>
        <td mat-cell *matCellDef="let element">{{element.from_date}}</td>
      </ng-container>
    
      <ng-container matColumnDef="total_amount">
        <th mat-header-cell *matHeaderCellDef>Total amount</th>
        <td mat-cell *matCellDef="let element">₹&nbsp;{{element.total_amount + element.discount}}</td>
      </ng-container>
    
      <ng-container matColumnDef="discount">
          <th mat-header-cell *matHeaderCellDef>Discount</th>
          <td mat-cell *matCellDef="let element">₹&nbsp;{{element.discount}}</td>
      </ng-container>

      <ng-container matColumnDef="received_amount">
        <th mat-header-cell mat-sort-header *matHeaderCellDef>Received amount</th>
        <td mat-cell *matCellDef="let element">₹&nbsp;{{element.received_amount}}</td>
      </ng-container>

      <ng-container matColumnDef="pending_amount">
        <th mat-header-cell mat-sort-header *matHeaderCellDef>Pending amount</th>
        <td mat-cell *matCellDef="let element">₹&nbsp;{{element.pending_amount}}</td>
      </ng-container>


      <ng-container matColumnDef="recorded_by">
        <th mat-header-cell *matHeaderCellDef>Recorded by</th>
        <td mat-cell *matCellDef="let element">{{element.recorded_by}}</td>
      </ng-container>
      
      <ng-container matColumnDef="recorded_at">
        <th mat-header-cell mat-sort-header *matHeaderCellDef>Recorded at</th>
        <td mat-cell *matCellDef="let element">{{element.recorded_at}}</td>
      </ng-container>
      

      <ng-container matColumnDef="edit_receipt">
        <th mat-header-cell *matHeaderCellDef>Edit</th>
        <td mat-cell *matCellDef="let element">
          <span (click)="openEditPendingAmountWindow(element)" class="material-symbols-outlined">edit</span>
        </td>
      </ng-container>

      <ng-container matColumnDef="edit_sale">
        <th mat-header-cell *matHeaderCellDef>Edit</th>
        <td mat-cell *matCellDef="let element">
          <span (click)="openEditSalesWindow(element)" class="material-symbols-outlined">edit</span>
        </td>
      </ng-container>

      <ng-container matColumnDef="more">
        <th mat-header-cell *matHeaderCellDef>More</th>
        <td mat-cell *matCellDef="let element">
          <span class="material-symbols-outlined" (click)="openReceiptModificationLogs(element)">info</span>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="saleInvoiceTableColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: saleInvoiceTableColumns;"></tr>
    </table>
    <mat-paginator [pageSizeOptions]="pageSizeOptions"
      showFirstLastButtons
      aria-label="Select page of periodic elements">
    </mat-paginator>
</div>