.main-container{
    width: 100%;
    min-height: 78vh;
    max-height: fit-content;
}

.beats-table{
    margin: 1em;
}

.header-section{
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 1em;
    align-items: center;
    justify-content: space-evenly;
}