<div class="main-container">  
  
  <div class="header-section">
    <h2 style="margin: 0;">All Beats</h2>
    <button (click)="addBeat()" mat-flat-button>Add beat</button>
  </div>
    
  <div class="beats-table">
      <table mat-table [dataSource]="savedBeats" class="mat-elevation-z8 demo-table">
        <ng-container matColumnDef="sl_no">
          <th mat-header-cell *matHeaderCellDef>Sl No.</th>
          <td mat-cell *matCellDef="let element; let i=index">{{i + 1}}</td>
        </ng-container>
    
        <ng-container matColumnDef="title">
          <th mat-header-cell *matHeaderCellDef>Title</th>
          <td mat-cell *matCellDef="let element">{{element.title}}</td>
        </ng-container>
      
        <ng-container matColumnDef="reporter">
          <th mat-header-cell *matHeaderCellDef>Reporter</th>
          <td mat-cell *matCellDef="let element">{{element.reporter}}</td>
        </ng-container>
      
        <ng-container matColumnDef="team_name">
          <th mat-header-cell *matHeaderCellDef>Team name</th>
          <td mat-cell *matCellDef="let element">{{element.team_name}}</td>
        </ng-container>

        <ng-container matColumnDef="team_type">
          <th mat-header-cell *matHeaderCellDef>Team type</th>
          <td mat-cell *matCellDef="let element">{{element.team_type}}</td>
        </ng-container>

        <ng-container matColumnDef="description">
            <th mat-header-cell *matHeaderCellDef>Remarks</th>
            <td mat-cell *matCellDef="let element">{{element.description}}</td>
        </ng-container>

        <ng-container matColumnDef="locality_name">
          <th mat-header-cell *matHeaderCellDef>Locality</th>
          <td mat-cell *matCellDef="let element">{{element.locality_name}}</td>
        </ng-container>

        <ng-container matColumnDef="create_date">
          <th mat-header-cell *matHeaderCellDef>Created on</th>
          <td mat-cell *matCellDef="let element">{{element.created_at}}</td>
        </ng-container>

        <ng-container matColumnDef="edit">
          <th mat-header-cell *matHeaderCellDef>Edit</th>
          <td mat-cell *matCellDef="let element">
            <span (click)="editBeat(element, $event)" class="material-symbols-outlined">edit</span>
          </td>
        </ng-container>

        <ng-container matColumnDef="delete">
          <th mat-header-cell *matHeaderCellDef>Delete</th>
          <td mat-cell *matCellDef="let element">
            <span (click)="deleteBeat(element, $event)" class="material-symbols-outlined">Delete</span>
          </td>
        </ng-container>


        <tr mat-header-row *matHeaderRowDef="savedBeatsColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: savedBeatsColumns;"></tr>
      </table>
  </div>
  <mat-paginator #paginator
    class="demo-paginator"
    (page)="handlePageEvent($event)"
    [length]="length"
    [pageSize]="pageSize"
    [showFirstLastButtons]="showFirstLastButtons"
    [pageSizeOptions]="showPageSizeOptions ? pageSizeOptions : []"
    [hidePageSize]="hidePageSize"
    [pageIndex]="pageIndex"
    aria-label="Select page">
  </mat-paginator>

</div>