<div class="main-container">
    <div class="filter-section">
      <mat-form-field class="form-field">
        <mat-label>Select time frame</mat-label>
        <mat-select
          [(value)]="selectedTimeFrame"
          (selectionChange)="fetchSalesAnalytics()"
        >
          <mat-option *ngFor="let time of timeFrames" [value]="time.actualValue">
            {{ time.displayValue }}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field *ngIf="selectedTimeFrame == 'custom'" id="calendarInputField" class="hidden">
        <mat-label>Enter a date range</mat-label>
        <mat-date-range-input [rangePicker]="picker">
          <input
            matStartDate
            (dateChange)="fetchSalesAnalytics()"
            [(ngModel)]="selectedFromDate"
            placeholder="Start date"
            [ngModelOptions]="{standalone: true}"
          />
          <input
            matEndDate
            (dateChange)="fetchSalesAnalytics()"
            [(ngModel)]="selectedToDate"
            placeholder="End date"
            [ngModelOptions]="{standalone: true}"
          />
        </mat-date-range-input>
        <mat-hint>MM/DD/YYYY – MM/DD/YYYY</mat-hint>
        <mat-datepicker-toggle
          matIconSuffix
          [for]="picker"
        ></mat-datepicker-toggle>
        <mat-date-range-picker #picker></mat-date-range-picker>
      </mat-form-field>

      <mat-form-field class="form-field">
        <mat-label>Select representative</mat-label>
        <mat-select
          [(value)]="selectedRepresentative"
          (selectionChange)="fetchSalesAnalytics()"
        >
          <mat-option *ngFor="let teamMember of teamMembers" [value]="teamMember.user_id">
            {{ teamMember.user_identity }}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field>
        <mat-label>Select customer type</mat-label>
        <mat-select [(value)]="selectedCustomerType" (selectionChange)="fetchSalesAnalytics()"  (selectionChange)="fetchCustomer()">
          <mat-option>None</mat-option>
          @for (type of clientType; track type) {
              <mat-option [value]="type.typeId">{{type.typeName}}</mat-option>
          }
        </mat-select>
      </mat-form-field>

      <mat-form-field>
        <mat-label>Select customer</mat-label>
        <mat-select [(value)]="selectedCustomer" (selectionChange)="fetchSalesAnalytics()">
          <mat-option>None</mat-option>
          @for (customer of customerList; track customer) {
            <mat-option [value]="customer.customer_id">{{customer.customer_name}}</mat-option>
          }
        </mat-select>
      </mat-form-field>
    </div>
    <div class="sub-header-section">
      <h3>Total amount: {{totalAmount}}</h3>
      <h3>Total amount received: {{totalAmountReceived}}</h3>
      <h3>Total Discount: {{discount}}</h3>
    </div>
    <table mat-table [dataSource]="saleInvoiceDatasource" class="mat-elevation-z8 demo-table">
      <ng-container matColumnDef="sl_no">
        <th mat-header-cell *matHeaderCellDef>Sl No.</th>
        <td mat-cell *matCellDef="let element; let i=index">{{i + 1}}</td>
      </ng-container>
    
      <ng-container matColumnDef="customer">
        <th mat-header-cell *matHeaderCellDef>Customer</th>
        <td mat-cell *matCellDef="let element">{{element.customer}}</td>
      </ng-container>

      <ng-container matColumnDef="invoice_number">
        <th mat-header-cell *matHeaderCellDef>Invoice number</th>
        <td mat-cell *matCellDef="let element">{{element.invoice_number}}</td>
      </ng-container>
    
      <ng-container matColumnDef="total_amount">
        <th mat-header-cell *matHeaderCellDef>Total amount</th>
        <td mat-cell *matCellDef="let element">{{element.total_amount}}</td>
      </ng-container>
    
      <ng-container matColumnDef="from_date">
        <th mat-header-cell *matHeaderCellDef>From date</th>
        <td mat-cell *matCellDef="let element">{{element.from_date}}</td>
      </ng-container>

      <ng-container matColumnDef="discount">
          <th mat-header-cell *matHeaderCellDef>Discount</th>
          <td mat-cell *matCellDef="let element">{{element.discount}}</td>
      </ng-container>

      <ng-container matColumnDef="received_amount">
        <th mat-header-cell *matHeaderCellDef>Received amount</th>
        <td mat-cell *matCellDef="let element">{{element.received_amount}}</td>
      </ng-container>

      <ng-container matColumnDef="recorded_by">
        <th mat-header-cell *matHeaderCellDef>Recorded by</th>
        <td mat-cell *matCellDef="let element">{{element.recorded_by}}</td>
      </ng-container>

      <ng-container matColumnDef="more">
        <th mat-header-cell *matHeaderCellDef>More</th>
        <td mat-cell *matCellDef="let element">
          <span (click)="openMoreInfoWindow(element)" class="material-symbols-outlined">info</span>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="saleInvoiceTableColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: saleInvoiceTableColumns;"></tr>
    </table>
    <mat-paginator #paginator
        class="demo-paginator"
        (page)="handlePageEvent($event)"
        [length]="length"
        [pageSize]="pageSize"
        [showFirstLastButtons]="showFirstLastButtons"
        [pageSizeOptions]="showPageSizeOptions ? pageSizeOptions : []"
        [hidePageSize]="hidePageSize"
        [pageIndex]="pageIndex"
        aria-label="Select page">
    </mat-paginator>
</div>