<div class="main-container">
    <div class="top-section-wrapper">
        <div class="nav-button-section">
            <button (click)="applyLeave()" mat-raised-button>Apply Leave</button>
            <button (click)="openReimbursement()" mat-raised-button>Apply Reimbursement</button>
            <button (click)="navigateToBeats()" mat-raised-button>Beats</button>
        </div>
        <div class="punch-in-section">
            <div class="clock">
                <b>Clock:&nbsp;</b>{{ currentTime | date: 'dd/MMM/yyyy hh:mm:ss a' }}
            </div>
            <div class="punch-in-info">
                <span *ngIf="attendence?.punch_in">Web login:&nbsp; {{attendence.punch_in}}</span>
                <button *ngIf="!attendence?.punch_in" mat-raised-button (click)="clockIn()" color="primary">Web login</button>
            </div>
            <div>
                <span *ngIf="attendence?.punch_out">Web logout:&nbsp; {{attendence?.punch_out}}</span>
                <button *ngIf="attendence?.punch_in && !attendence?.punch_out" mat-raised-button (click)="clockOut()" color="warning">Web logout</button>
            </div>
        </div>
    </div>
    <br>
    <div class="my-leaves-section">
        <h3 style="text-align: center; margin: 0;">Attendence history</h3>
        <div class="filter-section">
            <mat-form-field class="form-field">
                <mat-label>Select time frame</mat-label>
                <mat-select
                  [(value)]="selectedTimeFrame"
                  (selectionChange)="fetchMyAttendenceRecords()"
                >
                  <mat-option *ngFor="let time of timeFrames" [value]="time.actualValue">
                    {{ time.displayValue }}
                  </mat-option>
                </mat-select>
            </mat-form-field>
    
            <mat-form-field *ngIf="selectedTimeFrame == 'custom'" id="calendarInputField" class="hidden">
                <mat-label>Enter a date range</mat-label>
                <mat-date-range-input [rangePicker]="picker">
                    <input
                    matStartDate
                    (dateChange)="fetchMyAttendenceRecords()"
                    [(ngModel)]="selectedFromDate"
                    placeholder="Start date"
                    [ngModelOptions]="{standalone: true}"
                    />
                    <input
                    matEndDate
                    (dateChange)="fetchMyAttendenceRecords()"
                    [(ngModel)]="selectedToDate"
                    placeholder="End date"
                    [ngModelOptions]="{standalone: true}"
                    />
                </mat-date-range-input>
                <mat-hint>MM/DD/YYYY – MM/DD/YYYY</mat-hint>
                <mat-datepicker-toggle
                    matIconSuffix
                    [for]="picker"
                ></mat-datepicker-toggle>
                <mat-date-range-picker #picker></mat-date-range-picker>
            </mat-form-field>
        </div>

        <div class="attendence-history-table">
            <table mat-table [dataSource]="attendenceRecordsDataSource">
                <ng-container matColumnDef="sl_no">
                    <th mat-header-cell *matHeaderCellDef>Sl No.</th>
                    <td mat-cell *matCellDef="let element; let i=index">{{i + 1}}</td>
                </ng-container>
                
                <ng-container matColumnDef="date">
                    <th mat-header-cell *matHeaderCellDef>From</th>
                    <td mat-cell *matCellDef="let element">{{element.date}}</td>
                </ng-container>

                <ng-container matColumnDef="punch_in">
                    <th mat-header-cell *matHeaderCellDef>Punch In</th>
                    <td mat-cell *matCellDef="let element" (click)="openLocationScreen(element.punch_in_location)">
                        {{element.punch_in}}<span class="material-symbols-outlined">location_on</span>
                    </td>
                </ng-container>

                <ng-container matColumnDef="punch_out">
                    <th mat-header-cell *matHeaderCellDef>Punch out</th>
                    <td mat-cell *matCellDef="let element" >
                        <span *ngIf="element.punch_out" (click)="openLocationScreen(element.punch_out_location)">{{element.punch_out}}<span class="material-symbols-outlined">location_on</span></span>
                    </td>
                </ng-container>

                <ng-container matColumnDef="starting_km">
                    <th mat-header-cell *matHeaderCellDef>Start km</th>
                    <td mat-cell *matCellDef="let element" >
                    <span *ngIf="element.punch_in" >
                        {{element.starting_km}}&nbsp;<span class="material-symbols-outlined" (click)="openImage('Start KM image', element.starting_km_image_url)" *ngIf="element.starting_km_image_url">image</span>
                    </span>
                </td>
                </ng-container>
        
                <ng-container matColumnDef="ending_km">
                <th mat-header-cell *matHeaderCellDef>End km</th>
                <td mat-cell *matCellDef="let element" >
                    <span *ngIf="element.punch_out" >
                    {{element.ending_km}} &nbsp;<span class="material-symbols-outlined" (click)="openImage('End KM image', element.ending_km_image_url)" *ngIf="element.ending_km_image_url">image</span>
                    </span>
                </td>
            </ng-container>
        
                <ng-container matColumnDef="total_km">
                <th mat-header-cell *matHeaderCellDef>Total km</th>
                <td mat-cell *matCellDef="let element"><p *ngIf="element.punch_in && element.punch_out">{{element.ending_km - element.starting_km}}</p></td>
                </ng-container>
                
                <tr mat-header-row *matHeaderRowDef="attendenceRecordsTableColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: attendenceRecordsTableColumns;"></tr>
            </table>
            <h3 *ngIf="attendenceRecordsDataSource.length == 0" style="text-align: center;">No records</h3>
        </div>
    </div>

    <div class="my-reimbursement-section">
        <h2 style="text-align: center; margin: 0;">Reimbursement</h2>
        <div class="attendence-history-table">
            <table mat-table [dataSource]="reimbursementDataSource">
                <ng-container matColumnDef="sl_no">
                    <th mat-header-cell *matHeaderCellDef>Sl No.</th>
                    <td mat-cell *matCellDef="let element; let i=index">{{i + 1}}</td>
                </ng-container>
                
                <ng-container matColumnDef="amount">
                    <th mat-header-cell *matHeaderCellDef>Amount</th>
                    <td mat-cell *matCellDef="let element">₹&nbsp;{{element.amount}}</td>
                </ng-container>
        
                <ng-container matColumnDef="reason">
                    <th mat-header-cell *matHeaderCellDef>Reason</th>
                    <td mat-cell *matCellDef="let element">{{element.reason}}</td>
                </ng-container>

                <ng-container matColumnDef="image">
                    <th mat-header-cell *matHeaderCellDef>Image</th>
                    <td mat-cell *matCellDef="let element" >
                        <span *ngIf="element.image_url" (click)="openImage('End KM image', element.image_url)">
                        <span class="material-symbols-outlined" *ngIf="element.image_url">image</span>
                        </span>
                    </td>
                </ng-container>
        
                
                <tr mat-header-row *matHeaderRowDef="reimbursementTableColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: reimbursementTableColumns;"></tr>
            </table>
            <h3 *ngIf="reimbursementTableColumns.length == 0" style="text-align: center;">No records</h3>
        </div>
    </div>

</div>