<div class="main-container">
    <div class="top-section-wrapper">
        <div class="nav-button-section">
            <button (click)="applyLeave()" mat-raised-button>Appy Leave</button>
            <button (click)="navigateToBeats()" mat-raised-button>Beats</button>
            <button (click)="openCalendar()" mat-raised-button>Calendar</button>
        </div>
        <div class="punch-in-section">
            <div class="clock">
                <b>Clock:&nbsp;</b>{{ currentTime | date: 'dd/MMM/yyyy hh:mm:ss a' }}
            </div>
            <div class="punch-in-info">
                <span *ngIf="attendence?.punch_in">Web login:&nbsp; {{attendence.punch_in}}</span>
                <button *ngIf="!attendence?.punch_in" mat-raised-button (click)="clockIn()" color="primary">Web login</button>
            </div>
            <div>
                <span *ngIf="attendence?.punch_out">Web logout:&nbsp; {{attendence?.punch_out}}</span>
                <button *ngIf="attendence?.punch_in && !attendence?.punch_out" mat-raised-button (click)="clockOut()" color="warning">Web logout</button>
            </div>
        </div>
    </div>
    <br>
    
</div>