.main-container{
    width: 100%;
    min-height: 78vh;
    max-height: fit-content;
}

.salestable{
    height: 70vh;
    overflow: auto;
}

.header-section{
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.filter-section{
    text-align: center;
}

.sub-header-section{
    display: flex;
    justify-content: center;
    gap: 2em;
}

.sub-header-section h3{
    margin: 0;
}

.beat-info-section{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2em;
}

.beat-info-section h3{
    margin: 0;
}
