<div class="main-container">
  <h2 style="text-align: center;">View sales</h2>
  <mat-form-field>
    <mat-label>Select customer</mat-label>
    <mat-select [(value)]="selectedCustomer" (selectionChange)="fetchSales()">
        <mat-option *ngFor="let customer of customerList; let i=index" [value]="customer.customer_id">{{customer.mobile}}</mat-option>
    </mat-select>
  </mat-form-field>
  <table mat-table [dataSource]="salesSource" class="mat-elevation-z8 demo-table">
  
    <ng-container matColumnDef="customer">
      <th mat-header-cell *matHeaderCellDef>Customer</th>
      <td mat-cell *matCellDef="let element">{{element.customer}}</td>
    </ng-container>

    <ng-container matColumnDef="received_amount">
      <th mat-header-cell *matHeaderCellDef>Amount</th>
      <td mat-cell *matCellDef="let element">{{element.received_amount}}</td>
    </ng-container>

    <ng-container matColumnDef="recorded_by">
      <th mat-header-cell *matHeaderCellDef>Sale by</th>
      <td mat-cell *matCellDef="let element">{{element.recorded_by}}</td>
    </ng-container>
  

    <ng-container matColumnDef="discount">
        <th mat-header-cell *matHeaderCellDef>Discount</th>
        <td mat-cell *matCellDef="let element">{{element.discount}}</td>
    </ng-container>


    <ng-container matColumnDef="date">
        <th mat-header-cell *matHeaderCellDef>Date</th>
        <td mat-cell *matCellDef="let element">{{element.recorded_at}}</td>
      </ng-container>

    <ng-container matColumnDef="note">
      <th mat-header-cell *matHeaderCellDef>Note</th>
      <td mat-cell *matCellDef="let element">{{element.note}}</td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="salesSourceColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: salesSourceColumns;"></tr>
  </table>
</div>
