<div class="main-container">
  <div class="header-section">
    <h2 class="header-text">Items</h2>
    <button class="category-button" mat-flat-button (click)="redirectToCategories()">Category</button>
  </div>
  <div style="text-align: center;">
    <button (click)="addItem()" mat-flat-button>Add Item</button>
  </div>
  <div>
    <table mat-table [dataSource]="itemSource" class="mat-elevation-z8 table-section">
      <ng-container matColumnDef="sl_no">
        <th mat-header-cell *matHeaderCellDef> Sl No </th>
        <td mat-cell *matCellDef="let element; let i=index"> {{i + 1}} </td>
      </ng-container>
    
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef> Name </th>
        <td mat-cell *matCellDef="let element">
          <div *ngIf="!element.is_edit">
            {{element.item_name}}
          </div>
          <mat-form-field *ngIf="element.is_edit">
            <input type="text" matInput [(ngModel)]="element.item_name" (blur)="submitEditItem(element)" [disabled]="!element.is_edit">
          </mat-form-field>
        </td>
      </ng-container>
  
      <ng-container matColumnDef="price">
        <th mat-header-cell *matHeaderCellDef> Price </th>
        <td mat-cell *matCellDef="let element">
          <div *ngIf="!element.is_edit">
            {{element.price}}
          </div>
          <mat-form-field *ngIf="element.is_edit">
            <input type="number" matInput [(ngModel)]="element.price" (blur)="submitEditItem(element)" [disabled]="!element.is_edit">
          </mat-form-field>
        </td>
      </ng-container>
  
      <ng-container matColumnDef="category">
        <th mat-header-cell *matHeaderCellDef> Category </th>
        <td mat-cell *matCellDef="let element">
          <div *ngIf="!element.is_edit">
            {{element.category_name}}
          </div>
          <mat-form-field *ngIf="element.is_edit">
              <mat-label>Select category</mat-label>
              <mat-select
                [(value)]="element.category_id"
                (selectionChange)="submitEditItem(element)"
              >
                <mat-option *ngFor="let category of categoryList" [value]="category.category_id">
                  {{ category.category_name }}
                </mat-option>
              </mat-select>
          </mat-form-field>
        </td>
      </ng-container>
    
      <ng-container matColumnDef="edit">
        <th mat-header-cell *matHeaderCellDef> Edit </th>
        <td mat-cell *matCellDef="let element"><span (click)="editItem(element)" class="material-symbols-outlined">edit</span></td>
      </ng-container>
  
      <ng-container matColumnDef="delete">
          <th mat-header-cell *matHeaderCellDef> Delete </th>
          <td mat-cell *matCellDef="let element"> <span (click)="deleteItem(element)" class="material-symbols-outlined">delete</span> </td>
        </ng-container>
    
      <tr mat-header-row *matHeaderRowDef="itemsTableColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: itemsTableColumns;"></tr>
  
    </table>
  </div>

  <div *ngIf="itemSource.length == 0">
    <h4 style="text-align: center;">No items added</h4>
    <mat-divider></mat-divider>
  </div>

</div>