.main-container{
    width: 100%;
    min-height: 78vh;
    max-height: fit-content;
}

.header-section{
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.beat-info-section{
    display: flex;
    justify-content: center;
    gap: 2em;
}

.beat-info-section h3{
    margin: 0;
}