.main-container{
    min-height: 88vh;
    max-height: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header-section{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.action-section{
    place-self: left;
}

.customer-table{
    width: 100%;
    overflow-x: scroll;
}

.customer-table table{
    padding-left: 1em;
}


@media screen and (max-width: 450px) {
    table th,td{
        padding: 3px;
        font-size: small;
    }
}