<h2 mat-dialog-title>Edit {{getTypeString()}}</h2>
<div mat-dialog-content>
    <div>
        <form [formGroup]="editCustomerForm">
            <mat-form-field>
                <mat-label>Enter outlet name</mat-label>
                <input matInput formControlName="outlet_name">
            </mat-form-field>
            <div formArrayName="contact_persons_details">
                <div *ngFor="let control of contactPersonsFormArray().controls; let i=index" [formGroupName]="i" >
                    <mat-form-field>
                        <mat-label>Enter name {{i + 1}}</mat-label>
                        <input matInput formControlName="contact_person_name">
                    </mat-form-field>
                    <mat-form-field>
                        <mat-label>Enter email/mobile  {{i + 1}}</mat-label>
                        <input matInput formControlName="email_or_phone">
                    </mat-form-field>
                    <span *ngIf="i != 0" (click)="removeContactPersonsDetailsControl(i)" class="material-symbols-outlined">
                        delete
                    </span>
                </div>
                <button (click)="addContactPersonsDetailsControl()" mat-raised-button>Add another contact</button>
            </div>
            <div>
                <mat-radio-group formControlName="type">
                    @for (type of clientType; track type) {
                        <mat-radio-button [value]="type.typeId">{{type.typeName}}</mat-radio-button>
                    }
                </mat-radio-group>
            </div>
            <mat-form-field>
                <mat-label>Enter GST number</mat-label>
                <input matInput formControlName="gst_no">
            </mat-form-field>
            <mat-form-field>
                <mat-label>Enter address</mat-label>
                <input matInput formControlName="address">
            </mat-form-field>
            <mat-form-field>
                <mat-label>Enter note</mat-label>
                <input matInput formControlName="note">
            </mat-form-field>
        </form>
    </div>
</div>
<mat-dialog-actions>
    <button mat-button [mat-dialog-close] cdkFocusInitial>Close</button>
    <button mat-raised-button (click)="editCustomer()">Submit</button>
</mat-dialog-actions>