<div class="main-container">
    <mat-progress-bar *ngIf="loader" mode="indeterminate"></mat-progress-bar>
    <div class="box-wrapper">
        <div class="beat-box" *ngFor="let beat of beats; let i=index" (click)="openBeat(beat)">
            <h2>{{beat.title}}</h2>
            <p>{{beat.description}}</p>
            <div class="box-footer">
                <h2>{{beat.beat_id}}</h2>
                <p>{{beat.team_type}}</p>
            </div>
        </div>
    </div>
    <div *ngIf="beats.length == 0 && !loader">
        <h2 style="text-align: center;">No beats assigned</h2>
    </div>

</div>